@use "@/app/(pages)/_globals/mixins.scss";

.aboutUs {
    font-family: Merriweather, serif;
    font-size: 50px;
    font-weight: 550;
    color: #353935;
    text-align: center;
}

.phrase {
    color: #094935;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial;
    text-align: center;
}

.historyContainer {
    color: 353935;
    font-family: Inter;
    font-size: 18px;
    text-align: left;
    max-width: 600px;
    max-height: 800px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.img1 {
    width: 575px;
    border-radius: 10px;
}

.historyWrapper {
    align-items: center;
    display: flex;
    padding: 160px;
}