@use "@/app/(pages)/_globals/mixins.scss";

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    background-color: var(--color-white) ;//#F8F8F8;


    //height: 200vh;
    //width: 100%;
    padding-top: 3%;


    h1 {
        font-size: 55px;
        font-family: Merriweather;
        color: #353935;
    }
    h3{
        color: #094935;
        font-family: Inter;
        font-size: 24px;
        padding-bottom: 50px;
    }
    /*position: absolute;
        top: 22%;
        left: 20%;
        text-align: left;
        width: 50%;  //Adjust as needed 
        height: 25%;  */ 

    .card{
       // position: relative; 

       // width: 50%;  //Adjust as needed 
        //width: 1200px;
        width: 50%;
        height:  20vh;
        padding: 2.5% 3% 3% 4%;
        margin-right: 15%;
        margin-bottom: 2%;

       

       display: flex;
       flex-direction: column;
       background-color: #FFF;
       box-shadow: 0px 0px 50px 0px rgba(173, 173, 173, 0.25);
       border-radius: 20px;
        .cardTop{
          display: flex;
          align-items: center; 
          gap: 10px;  // for the top section with the image and header 
          margin-bottom: 10px; 
        }


        h2{
          flex-grow: 1;
            font-family: Merriweather;
            font-size: 36px;
            color: #094935;
        }
        p{
          flex-grow: 1;
          // come back here 
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 27px */
        }
        .circle {
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            top: 22%;
        left: 80%;
        text-align: left;
          
            background-color: blue; /* Add a background color if desired */
          
          }
    }
  
    .card2{
       // position: relative; 

       // width: 50%;  //Adjust as needed 
        //width: 1200px;
        width: 50%;
        height:  20vh;
        padding: 2.5% 3% 3% 4%;
        margin-left: 15%;
        margin-bottom: 2%;

       

       display: flex;
       flex-direction: column;
       background-color: #FFF;
       box-shadow: 0px 0px 50px 0px rgba(173, 173, 173, 0.25);
       border-radius: 20px;
        .cardTop{
          display: flex;
          align-items: center; 
          gap: 10px;  // for the top section with the image and header 
          margin-bottom: 10px; 
        }

        h2{
          flex-grow: 1;
            font-family: Merriweather;
            font-size: 36px;
            color: #094935;
        }
        p{
          flex-grow: 1;
          // come back here 
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 27px */
        }
        .circle {
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            top: 22%;
        left: 80%;
        text-align: left;
          
            background-color: blue; /* Add a background color if desired */
          
          }
    }
}