@use "@/app/(pages)/_globals/mixins.scss";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  padding: 160px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUs,
.clinicRoles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white) ;//#F8F8F8;
  gap: var(--vertical-card-gap);
}


