@use "@/app/(pages)/_globals/mixins.scss";

.questionsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 1040px;
    // height: 247px;
    background-color: var(--card-background);
    border-radius: var(--card-border-radius);
    box-shadow: var(--drop-shadow);
    padding: 42px 40px;
}

.questionsCard h3 {
    color: var(--emerald);
}

.questionsCard p {
    color: var(--dark-grey);
}
.questionsCard a {
    text-decoration: none;
    color: var(--teal);
}

// Contact form
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72.22%;
    color: var(--dark-grey);
}

.formField {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.formInput {
    width: 44.92%;
    margin-bottom: 20px;
    text-align: left;
}

.formInput label {
    display: block;
    font-size: 1rem;
    font-family: var(--font2);
    font-weight: 400;
    line-height: 150%;
}

.formInputText {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--dark-grey);
    background-color: var(--white);
    font-size: 1rem;
    color: var(--dark-grey  );
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.formInputText:focus {
    border-color: var(--light-blue);
    box-shadow: var(--drop-shadow-small);
    outline: none;
}

.formMessage {
    width: 100%;
    border-radius: var(--card-border-radius);
}


.formMessage label {
    display: none;
}

.message {
    @include mixins.fontStyle(1rem, 400, 150%, var(--font2));
    border-radius: var(--card-border-radius);
    border: solid 1px var(--dark-grey);
    resize: none;
    min-height: 112px;
    width: 100%;
    padding-top: 12px;
    padding-left: 32px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.message:focus {
    border-color: var(--light-blue);
    box-shadow: var(--drop-shadow-small);
    outline: none;
}

.buttonArea {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-top: 50px;
}

.sendButton {
  outline: none !important;
  border: none !important;
  font-weight: var(--bold);
  font-family: var(--font2);
  width: 6rem;
  font-size: 1rem;
}

// .sendButton b {
//     font-weight: var(--bold);
//     font-family: var(--font2);
// }

/* Error messages */
.errorText {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.rainbowTop {
    position: absolute;
    z-index: 0;
    pointer-events: none;
    top: -340px;
    left: 176px;
    // rotate: 15deg;
    // top: -600px;
    // left: 500px
    // width: 1482px;
    // height: 1350px; 
}

.rainbowBottom {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  bottom: -280px;
  left: -176px;
}

/* Contact Us Page */
.contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--nav-to-element-spacing) 0;
    background-color: var(--white);
    position: relative;
    gap: var(--vertical-card-gap);
    overflow: hidden;

    h1 {
      z-index: 1;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 85%;
    max-width: 1040px;
    // margin-bottom: 50px;
    box-shadow: var(--drop-shadow);
    border-radius: var(--card-border-radius);
}
.mapContainer {
    flex: 1;
    min-width: 50%;
    max-width: 55%;
}

.infoCard {
    flex: 1;
    background-color: var(--white);
    padding-bottom: 29px;
    margin-right: 22px;
    text-align: center;
    font-size: 36px;
    color: var(--emerald);
}

.textInfo {
    color: var(--dark-grey); //since h4 is hardcoded to be emerald - we think we might to over write it or include another header section 
    // font-family: var(--font2);
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.dotsContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 16px;
}

.dotsLeft {
    position: absolute;
    bottom: -460px; 
    left: -464px;
}

.dotsRight {
    position: absolute;
    top: -350px; 
    right: -472px;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;

}

.socialMediaIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 

    a {
      width: 260px;
    }
    // width: 260px;
    // padding: 0 36px;
    // margin-top: 20px;
    // z-index: 2;
}

.icon {
    font-size: 2rem;
    margin-right: 10px;
    font-weight: var(--bold);
}
