@use "./mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  // Primary colors
  --mint: #abdccf;
  --teal: #01887a;
  --green: #1b5e49;
  --emerald: #094935;
  --dark-grey: #353935;
  --white: #FFFFFF;
  --offwhite: #f8f8f8;

  // Secondary colors
  --light-pink: #ffbad0;
  --light-purple: #e3c5ff;
  --light-blue: #8ad5e5;
  --light-green: #cae2ad;

  // Gradients ( syntax is background: var(--rainbow-gradient); )
  --rainbow-conic-gradient: conic-gradient( 
    var(--light-pink), 
    var(--light-purple), 
    var(--light-blue), 
    var(--light-green)
  );
  --rainbow-linear-gradient: linear-gradient(
    to right, 
    var(--light-pink), 
    var(--light-purple), 
    var(--light-blue), 
    var(--light-green)
  );
  --green-gradient-light: linear-gradient(var(--mint), var(--teal));
  --green-gradient-dark: linear-gradient(var(--green), var(--teal));

  // Text
  --bold: 700; // font-weight: var(--bold);
  --font1: "Merriweather", serif;
  --font2: "Inter", serif;

  // Cards
  --vertical-card-gap: 100px;
  --card-border-radius: 20px;
  --card-padding: 60px;
  --card-background: var(--color-white);

  // Shadows ( box-shadow: var(--drop-shadow); is syntax for shadows )
  --drop-shadow: 0px 0px 50px 0px rgba(173, 173, 173, 0.25); // For bigger shapes
  --drop-shadow-small: 0px 0px 50px 0px rgba(173, 173, 173, 0.15); // For small shapes
  --drop-shadow-header: 0px 5px 50px 0px rgba(1, 136, 122, 0.20); 
  --drop-shadow-footer: 0px -5px 50px 0px rgba(1, 136, 122, 0.20);
  
  --drop-shadow-mint: 0px 0px 50px 0px rgba(1, 136, 122, 0.35);
  --mint-border: 2px solid var(--color-mint); // border: var(--mint-border); is syntax for borders

  /* font sizes: ALWAYS IN REM */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--offwhite);
  font-family: var(--font2);
  color: var(--dark-grey);
}

// Title
h1 {
  @include mixins.fontStyle(3.5rem, 700, auto, var(--font1));
  
  @include mixins.sm-desktop {
    // Slightly alter styles for smaller screen sizes
  }
}

// Heading 1
h2 {
  @include mixins.fontStyle(3rem, 700, auto, var(--font1));
}

// Heading 2
h3 {
  @include mixins.fontStyle(2.25rem, 700, auto, var(--font1));
}

// Subheading
h4 {
  color: var(--emerald);
  @include mixins.fontStyle(1.5rem, 700, 200%, var(--font2));
}

// Body
p { 
  @include mixins.fontStyle(1.1rem, 400, 150%, var(--font2));
}

// Button styles (We may need to rework this)
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 3rem;
  border-radius: 100px;
  
  color: var(--offwhite);
  background-color: var(--teal);
  font-weight: var(--bold);
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background: var(--rainbow-linear-gradient);
  color: var(--dark-grey);
}
