@use "@/app/(pages)/_globals/mixins.scss";

.cardWrapper {
  display: flex;

  max-width: calc(8px * 130);
  border-radius: var(--card-border-radius);
  box-shadow: var(--drop-shadow);

  overflow: hidden;

  border: 1px solid red;

  h3 {
    color: var(--emerald);
  }
  @include mixins.phone {
    width: 100%; 
    border-radius: var(--card-border-radius);
    box-shadow: var(--drop-shadow);
   // display: flex;
    flex-direction: column;
    justify-content: center; 
   // align-items: center; 
   h3 {
    text-align: center;
  }
  }
}

.cardWrapper.left {
  flex-direction: row-reverse;
  @include mixins.phone{
    //align-items: center;
    flex-direction: column-reverse;
  }
}

.cardWrapper.right {
  flex-direction: row;
  @include mixins.phone{
    
   // align-items: center;
   flex-direction: column-reverse;
  }

}

.cardContainer {
  display: flex;
  flex-direction: column;

  gap: 20px;
  padding: var(--card-padding);
  flex: 1;
  @mixin phone{
    padding: 10px; 
    align-items: center;
  }
}

.img {
  position: relative;
  // overflow: hidden;
  flex: 1;

  border: 1px solid green;

  @include mixins.phone {
    width: 100%;
    align-items: center;
    padding-bottom: 200px;

    
    //margin-bottom: 10px;
  }
}
