@use "@/app/(pages)/_globals/mixins.scss";

.partnersCard {
  background-color: var(--white);
  border-radius: 0 var(--card-border-radius) var(--card-border-radius) 0;
  width: 606px;
  height: 452px;
  padding: var(--card-padding);
  text-align: left;
  box-shadow: var(--drop-shadow);
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include mixins.tablet {
    min-width: 350px;
    width: 60%;
    height: 400px;
    gap: 20px;
  }

  @include mixins.phone {
    min-width: unset;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
    gap: 24px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h4 {
    line-height: 150%;
  }
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  width: 434px;
  height: 452px;
  border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);

  @include mixins.tablet {
    min-width: 300px;
    width: 40%;
    height: 400px;
  }

  @include mixins.phone {
    min-width: unset;
    width: 100%;
    height: 250px;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  }
}

.cardContainer {
  display: flex;
  align-items: center;

  @include mixins.tablet {
    width: 90%;
  }

  @include mixins.phone {
    flex-direction: column;
  }
}

.reverse {
  flex-direction: row-reverse; /* Image on the left */

  @include mixins.phone {
    flex-direction: column;
  }
}

.reverse .imageWrapper {
  border-radius: 0 var(--card-border-radius) var(--card-border-radius) 0;

  @include mixins.phone {
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  }
}

.reverse .partnersCard {
  border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);

  @include mixins.phone {
    border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
  }
}

.partnerContainer {
  display: flex;
  align-items: center;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include mixins.phone {
    gap: 8px;
  }
}

.locationText,
.dateText,
.appointmentText {
  display: flex;
  align-items: center;
  gap: 12px;
}

.button {
  width: 12rem;
  height: 3rem;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--emerald);

  @include mixins.phone {
    width: 16px;
    height: 16px;
  }
}
