

@use "@/app/(pages)/_globals/mixins" as *;

@include phone {


    .titleAndSubtitleBox h1{
        // padding: 2px; //
        font-size: 32px !important; 
        gap: 16px;
        width: 75% !important; //50
    }
    .titleAndSubtitleBox p {
        font-size: 16px !important; 
        width: 70% !important;  // 70%
    }
    
    .contactButton{
        width: 8rem;
        height: 1rem;
    }


    .cardSectionBox{
        flex-direction: row;
    }


    .cardSectionHeader h3{
        font-size: 32px !important; 
    }

    .card{
        flex-direction: column !important;
        width: 600px !important;
    }

   

}