@use "@/app/(pages)/_globals/mixins.scss";


.body{
    border: 8px solid black;
    display:flex;
    flex-direction: column;
    gap:320px;
}
.titleWithButton{
    // border: 8px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap:24px;
    
}

.titleWithButton button{
    // border: 8px solid blue;
    width: 10%;
    height: 9%;
    font-size: 16px;
    padding: 8px;
}



.titleAndSubtitle{
    // border: 8px solid yellow;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // gap:8px;
    // width: 80%;
}

.titleAndSubtitle h1{
    color: var(--emerald);
    font-size: 56px;
    font-weight: 520;

}
.titleAndSubtitle h4{
    color: var(--dark-grey);
    text-align: center;
    font-size: 16px;
    width: 45%;
    font-weight: 350;
}


.mainCardsSection{
    border: 8px solid orange;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}


.mainCardSectionTitle{
    border: 8px solid purple;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    color: var(--emerald);
    width: 20%;
}




.cards_Section{
    border: 8px solid brown;
    width: 70%;

    display:flex;
    justify-content: center;
    
    flex-direction: column;
    gap: 96px;
}

.card_1{
    border: 8px solid cyan;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card_1_ImageBox{
    border: 8px solid black;
    width: 40%;
    display:flex;
    align-items: center;
    justify-content: center;
    // padding-left: 80px;
}

.card_1_TextBox{
    border: 8px solid palegreen;
    width: 50%;
    
}

.card_1_TitleAndLogo{
    display:flex;
    justify-content: left;
    align-items: center;
    padding-left: 16px;
    padding-bottom: 16px;

}

.icon{
    font-size: 32px;
    // justify-content: center;
}

.card_1_TitleAndLogo h3{
    font-size: 32px;
    padding-left: 16px;
    
}

.card_1_TextBox ul {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    width: 80%;
    padding-left: 24px; 
    gap: 24px;

}


.card_2{
    border: 8px solid pink;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.card_2_TextBox{
    border: 8px solid green;
    width: 50%;
    
}

.card_2_TitleAndLogo h3{
    display:flex;
    justify-content: left;
    align-items: center;
    padding-left: 16px;
    padding-bottom: 16px;
}


.card_2_TextBox p{
    width: 85%;
    display:flex;
    align-items: center;
    padding-left: 16px;
    padding-bottom: 16px;
}

.card_2_TextBox ul {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // list-style-type: none;
    width: 80%;
    padding-left: 24px; 
    gap: 24px;

}


.card_2_ImageBox{
    border: 8px solid black;
    width: 40%;
    display:flex;
    align-items: center;
    justify-content: center;
    // padding-left: 80px;
}