@use "@/app/(pages)/_globals/mixins.scss";

// Top Section
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--nav-to-element-spacing) 0;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 1040px;
}

.header {
  text-align: center;
}

.opening{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;

}

.landing_photo{
    border-radius: 20px;
    border: var(--mint-border);
    border: 2px solid var(--mint);

    /* mint-drop-shadow, not same as globals var */
    box-shadow: var(--drop-shadow-mint);
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}

// Middle Cards
.middle {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: var(--element-spacing);
  padding-bottom: 160px;
}

.volunteerCards {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-card-gap);
  align-items: center;
}

.header {
  color: var(--dark-grey);
  text-align: center;
}

// Bottom Section
.bottom{
    display: flex;
    justify-content: center;
}

.learn_more{
    background-color: var(--white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--drop-shadow);
    padding: var(--card-padding);

    display: flex;
    flex-direction: column;
    align-items: center; /*primarily used for buttn to fit About Us text*/
    gap: 30px;

    width: 640px;
    text-align: center;
}

.about_us{
    font-weight: var(--bold);
    color: var(--teal);
}

