    @use "@/app/(pages)/_globals/mixins.scss";

    .header {
        position:relative;
        z-index: 100;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        padding: 26px 30px;
        background-color: var(--color);
        box-shadow: var(--drop-shadow-header);
    }

    .headerImage {
        margin-left: 30px;
    }

    .headerLinks {
        display: flex;
        padding: 26px 41px;
        align-items: center;
    }

    .headerItems {
        margin-left: 50px; 
        text-decoration: none;
        color: var(--color); 
    }

    .headerContact {
        margin-left: 50px;
        border-radius: 100px;
        padding: 10px 30px;
        background: #01887A;    
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: var(--font2);
    }
