@use "@/app/(pages)/_globals/mixins.scss";


.cardComponent {
    display: flex;
    width: 65em;
    position: relative;
    min-height: 21.875em;
}

// Place Image on left or right
.cardComponent.left {
    flex-direction: row-reverse;
}

.cardComponent.right {
    flex-direction: row;
}

.card {
    display: flex;
    width: 59.5em;
    min-height: 21.875em;
    background-color: var(--card-background);
    box-shadow: var(--drop-shadow);
    border-radius: var(--card-border-radius);
}

.card.right {
    padding: 0px var(--card-padding);
}
.card.left {
    padding-left: 322px;
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2em;
    min-height: 21.875em;
    max-width: 38.563em;
    margin-top: var(--card-padding);
    margin-bottom: var(--card-padding);
    color: var(--dark-grey);
}

.cardTitle {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: var(--emerald);
}

.icon {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: var(--light-blue);
}

.cardBody {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 150%;
    font-family: var(--font2);
}

.cardBody ul {
    padding-left: 1.875em; /* Indentation */
}

.cardBody a {
    color: var(--teal);
    text-decoration: none;
}

.cardBody b {
    font-weight: var(--bold);
}

.cardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--teal);
    width: 11.313em;
    height: 3em;
    border-radius: 100px;
    color: white;
}

.cardLink b {
    font-weight: var(--bold);
}

.cardLink a {
    text-decoration: none;
    color: white;
}

.cardImage {
    border: solid var(--mint);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 21.875em;
    height: 21.875em;
    overflow: hidden;
}

.cardComponent.left .cardImage {
    left: 0;
}

.cardComponent.right .cardImage {
    right: 0;
}