@use "@/app/(pages)/_globals/mixins.scss";


.cardComponent {
    display: flex;
    width: 1040px;
    position: relative;
    min-height: 350px;
}

// Place Image on left or right
.cardComponent.left {
    flex-direction: row-reverse;
}

.cardComponent.right {
    flex-direction: row;
}

.card {
    display: flex;
    width: 952px;
    min-height: 350px;
    background-color: white;
<<<<<<< HEAD
    box-shadow: var(--drop-shadow-green);
    // box-shadow: 0 5px 10px rgba(27, 94, 73, 0.1), 0 10px 15px rgba(173, 173, 173, 0.2);
=======
    // box-shadow: var(--drop-shadow-green);
    box-shadow: 0 5px 10px rgba(27, 94, 73, 0.1), 0 10px 15px rgba(173, 173, 173, 0.2);
>>>>>>> 9e477552327fe2b7281d8936f0cbbb4e57a5b3b5
    border-radius: var(--rectangle-radius);
}

.card.right {
    padding: 0px var(--card-padding);
}
.card.left {
    padding-left: 322px;
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
<<<<<<< HEAD
    row-gap: 30px;
=======
>>>>>>> 9e477552327fe2b7281d8936f0cbbb4e57a5b3b5
    min-height: 350px;
    max-width: 617px;
    margin-top: var(--card-padding);
    margin-bottom: var(--card-padding);
    font-family: var(--font-inter);
<<<<<<< HEAD
    color: var(--color-green);
=======
>>>>>>> 9e477552327fe2b7281d8936f0cbbb4e57a5b3b5
}

.cardTitle {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: var(--subheading);
    font-weight: 700;
<<<<<<< HEAD
    line-height: 48px;
=======
    color: var(--color-space);
>>>>>>> 9e477552327fe2b7281d8936f0cbbb4e57a5b3b5
}

.icon {
    display: flex;
    align-items: center;
    font-size: 3rem;
<<<<<<< HEAD
    color: var(--gradient-blue);
=======
>>>>>>> 9e477552327fe2b7281d8936f0cbbb4e57a5b3b5
}

.cardBody {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

<<<<<<< HEAD
.cardBody ul {
    padding-left: 30px; /* Increase this value for more indentation */
}

.cardBody a {
    color: var(--color-teal);
}

.cardBody b {
    color: var(--color-space);
    font-weight: 700;
}

.cardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-teal);
    width: 181px;
    height: 48px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: white;
}

.cardImage {
    border: solid var(--color-mint);
=======
.cardLink {
    border: solid;
}

.cardImage {
    border: solid;
>>>>>>> 9e477552327fe2b7281d8936f0cbbb4e57a5b3b5
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.cardComponent.left .cardImage {
    left: 0;
}

.cardComponent.right .cardImage {
    right: 0;
}