@use "@/app/(pages)/_globals/mixins.scss";

.cardComponent {
  display: flex;
  width: 1000px;
  position: relative;
  text-align: left;

  background-color: var(--card-background);
  border-radius: var(--card-border-radius);
  box-shadow: var(--drop-shadow);
  padding: var(--card-padding);

  @include mixins.sm-desktop {
    width: 80%;
  }

  @include mixins.tablet {
    align-items: center; //picture and text centered
    padding-top: 140px;
  }
}

// Place Image on left or right
.cardComponent.left {
  flex-direction: row-reverse;
  margin-left: 64px;
  justify-content: flex-end;

  @include mixins.tablet {
    margin-left: 0px;
    flex-direction: column-reverse;
  }
}

.cardComponent.right {
  flex-direction: row;
  margin-right: 64px;
  @include mixins.tablet {
    margin-right: 0px;
    flex-direction: column-reverse;
  }
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 617px;

  @include mixins.tablet {
    align-items: center; //text title and button centered in cardText
    gap: 24px;
    max-width: 100%;
  }
}

.cardText.left {
  margin-left: 240px;

  @include mixins.sm-desktop {
    margin-left: 135px;
  }

  @include mixins.tablet {
    margin-left: 0px;
  }
}

.cardTitle {
  display: flex;
  align-items: center;
  column-gap: 16px;
  color: var(--emerald);

  @include mixins.tablet {
    align-self: flex-start;
  }

  @include mixins.phone {
    h4 {
      line-height: 150%;
    }
  }
}

.icon {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

// long text
.cardBody {
  ul {
    margin-left: 30px;
  }

  @include mixins.fontStyle(1.1rem, 400, 150%, var(--font2));

  @include mixins.tablet {
    @include mixins.fontStyle(1rem, 400, 150%, var(--font2));
  }
}

.cardBody a {
  color: var(--teal);
  text-decoration: none;
  font-weight: var(--bold);
}

.cardBody b {
  font-weight: var(--bold);
}

.cardLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--teal);
  width: 181px;
  height: 48px;
  border-radius: 100px;
  color: white;
}

.cardLink b {
  font-weight: var(--bold);
}

.cardLink a {
  text-decoration: none;
  color: white;
}

.cardImage {
  border: solid var(--mint);
  position: absolute;
  top: 50%; //moves TOP of image 50% down its container
  transform: translateY(
    -50%
  ); //moves 50% of its OWN height UP  (effectively centered in container)
  border-radius: 50%;
  width: 350px;
  height: 350px;
  overflow: hidden;
  box-shadow: var(--drop-shadow-mint);

  @include mixins.sm-desktop {
    width: 270px;
    height: 270px;
  }

  @include mixins.tablet {
    top: 0;
    width: 250px;
    height: 250px;
  }
}

.cardImage.left {
  left: -88px;

  @include mixins.sm-desktop {
    left: -112px;
  }

  @include mixins.tablet {
    //offset of image from whole cardComponent
    left: auto;
  }
}

.cardImage.right {
  right: -88px;

  @include mixins.sm-desktop {
    right: -112px;
  }

  @include mixins.tablet {
    //offset of image from whole cardComponent
    right: auto;
  }
}
