.card{
    display: flex;
    flex-direction: column;
    width: calc(8px * 104);
    background-color: var(--white);
    box-shadow: var(--drop-shadow);
    border-radius: 20px;
    padding: 60px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.tm{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    gap: 12px;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text p {
    padding-left: 12px;
}

.appt{
    color: var(--teal);
    font-weight: var(--bold);
}
